<div class='container'>
	<!-- bootstrap nav -->
	<nav class="navbar navbar-expand-lg navbar-light">
		<a class="navbar-brand" href="index.html"><img src='../static/pictures/logo.jpg' width='155'></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="index.html">主頁</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="site.html">自訂旅程</a>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						推薦旅程
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="spots.html">景點</a>
						<a class="dropdown-item" href="schedule.html">一日遊</a>
						<a class="dropdown-item" href="days_schedule.html">多日遊</a>
					</div>
				</li>

				<!-- <li class="nav-item">
				        <a class="nav-link" href="question.html">常見問題</a>
				      </li>	 -->
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						旅遊須知
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="weather.html">墨爾本氣候</a>
						<a class="dropdown-item" href="visa.html">旅遊簽證</a>
						<a class="dropdown-item" href="faq.html">常見問題</a>
					</div>
				</li>
			</ul>
			<form class="d-flex">
				<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success" type="submit">Search</button>
			</form>
		</div>
	</nav>
</div>