<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC|Open+Sans&display=swap" rel="stylesheet">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
		integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

	<!-- jQuery and Bootstrap Bundle (includes Popper) -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
		crossorigin="anonymous"></script>


	<!-- <script src="https://kit.fontawesome.com/68f8681dba.js" crossorigin="anonymous"></script> -->

	<link rel="stylesheet" href="../static/css/style.css">
	<title>澳洲自助遊</title>
	<link rel="icon" type="image/x-icon" href="../static/pictures/pandaicon.ico" />
</head>

<body>

	<header>
		{% include "_mel.html" %}
	</header>

	<!-- ======= Faq Section ======= -->
	<section id="faq" class="faq" style="background-color: #FFEEDD;">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

					<div class="content">
						<p>
							理想很豐滿，現實很骨感，想要自由行，但又對澳洲一無所知？行前準備應該做些什麼？
							有什麼重要信息需要提前了解？你想到和沒想到的澳洲旅行問題，今天一一為你解答！
						</p>
						<h3>常見問題 <strong>出發前</strong></h3>
					</div>


					<div class="accordion-list">
						<ul>

							<li>
								<a data-toggle="collapse" class="collapse" href="#accordion-list-1">Q:澳洲的最佳旅行季節是什麼時候？ <i
										class="bx bx-chevron-down icon-show"></i><i
										class="bx bx-chevron-up icon-close"></i></a>
								<div id="accordion-list-1" class="collapse show" data-parent=".accordion-list">
									<p>
										A:澳洲地處南半球，與國內季節相反。地廣人稀，不同地區有著不同的氣候，澳洲大部分地區一年分為四季，在熱帶北部則分為雨季和旱季。
										澳洲的夏天，從十二月到二月，是戶外活動的最佳時間。三月到五月是澳洲的秋天，堪培拉的秋葉似火，而墨爾本將舉行F1賽車比賽。
										六月至八月是冬季，最適合前往溫暖的大堡礁潛水，這裡正是旱季，雨水少，水下能見度高。澳洲的春天，從九月至十一月，是觀鯨和賞花的好季節。
										城市被紫色的藍花楹點綴，走在路上心情都會變得柔軟。所以，每個季節有每個季節的遊玩方式，就看你喜歡什麼樣的風景和活動了。
									</p>
								</div>
							</li>

							<li>
								<a data-toggle="collapse" href="#accordion-list-2" class="collapsed">Q:澳洲住宿有哪些選擇？ <i
										class="bx bx-chevron-down icon-show"></i><i
										class="bx bx-chevron-up icon-close"></i></a>
								<div id="accordion-list-2" class="collapse" data-parent=".accordion-list">
									<p> A:澳洲的住宿類型非常多樣化，遊客可以根據自己的喜好以及預算來選擇。大致來說分為以下幾種：</p>
									<p>1.星級酒店（Hotels）：有大型高端國際品牌、精品酒店和經濟型酒店，為客人提供各種設施，包括游泳池，健身房，商務中心，餐廳和酒吧等。</p>
									<p>2.汽車旅館（Motels） ：如果汽車旅館給你的印像還停留在髒亂差，那你就大錯特錯了！在澳洲公路旅行，汽車旅館是最常見和性價比最高的。
										雖然設施較為普通，但價格通常比較合理，房間也乾淨整潔，很適合作為過渡性住宿。</p>
									<p>3.公寓（Apartments）：團體或一大家子出遊？想要寬敞的空間、廚房和洗衣設施？那選公寓準沒錯！
										需要注意的是公寓有自助式、服務式和非服務式公寓，不同類型的公寓提供的服務也不同。</p>
									<p>4.民宿（Bed and breakfasts）：當地人把自己的房子拿出來短租，讓遊客有機會入住歷史悠久的老建築，擁有無敵海景的度假屋，鄉村宅邸等等，
										深度體驗當地的生活環境和家庭氛圍。</p>
									<p>5.農場（Farm stays）：想要逃離都市的喧囂，那就去農場吧！和小動物互動，呼吸新鮮空氣，享受澳洲充滿魅力的鄉村假期！</p>
									<p>6.其他住宿選擇還有青旅，露營，度假村等等就不贅述啦。</p>
								</div>
							</li>

							<li>
								<a data-toggle="collapse" href="#accordion-list-3" class="collapsed">Q:澳洲消費水平如何？ <i
										class="bx bx-chevron-down icon-show"></i><i
										class="bx bx-chevron-up icon-close"></i></a>
								<div id="accordion-list-3" class="collapse" data-parent=".accordion-list">
									<p>
										A:澳洲物價整體比較高，包括住宿、餐飲、交通等。一瓶可樂約3澳元，悉尼火車單程票4澳元起，普通餐廳一份正餐約30澳元，快餐店一份套餐的價格約15澳元。
									</p>
								</div>
							</li>

							<li>
								<a data-toggle="collapse" href="#accordion-list-4" class="collapsed">Q:出行前需要在國內換多少澳幣？ <i
										class="bx bx-chevron-down icon-show"></i><i
										class="bx bx-chevron-up icon-close"></i></a>
								<div id="accordion-list-4" class="collapse" data-parent=".accordion-list">
									<p>
										A:花費肯定是豐儉由人了，普通消費建議按每人每天30-50澳元的標準兌換澳幣。
										不過澳洲大大小小的商店幾乎都可以刷信用卡，部分商店還可以使用支付寶以及銀聯，所以其實不必帶過多的現金在身上。
										如果到時候實在現金不夠用，可以在當地各大銀行的ATM直接用銀聯卡取現，非常方便。
									</p>
								</div>
							</li>
							
							<li>
								<a data-toggle="collapse" href="#accordion-list-5" class="collapsed">Q:有哪些是來澳旅行必須要準備的東西？ <i
										class="bx bx-chevron-down icon-show"></i><i
										class="bx bx-chevron-up icon-close"></i></a>
								<div id="accordion-list-5" class="collapse" data-parent=".accordion-list">
									<p>
										A: 護照，電子簽證（需打印），駕照原件及翻譯認證件（如需自駕），Visa或Mastercard信用卡，手機開通國際漫遊或購買當地電話卡。
										這幾樣是必備！遺漏任何一樣在國內都有可能給你的旅行添堵！剩下的就是一些個人用品，
										澳洲酒店一般不提供牙刷牙膏、拖鞋、梳子等用品，需自備，衣物根據季節準備等等...... 就不囉嗦啦！
									</p>
								</div>
							</li>

							<li>
								<a data-toggle="collapse" href="#accordion-list-6" class="collapsed">Q:澳洲的電源、電壓跟台灣有什麼不同？ <i
										class="bx bx-chevron-down icon-show"></i><i
										class="bx bx-chevron-up icon-close"></i></a>
								<div id="accordion-list-6" class="collapse" data-parent=".accordion-list">
									<p>
										A:澳大利亞使用的電壓（230v ，交流50Hz）和國內是不同的，而且當地所有的插座都是三相插座。所以最好自己帶一個轉換器或萬能插座。
									</p>
								</div>
							</li>

						</ul>
					</div>

				</div>
				<div class="col-lg-5 align-items-stretch order-1 order-lg-2 img"
					style='background-image: url("../static/pictures/faq.jpg");'>&nbsp;</div>
			</div>
		</div>
	</section><!-- End Faq Section -->
	<section id="faq" class="faq" style="background-color: #FFEEDD;">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

					<div class="content">
						<h3>常見問題 <strong>抵達當地</strong></h3>
					</div>


					<div class="accordion-list">
						<ul>

							<li>
								<a data-toggle="collapse" class="collapse" href="#accordion-list-7">Q:澳洲酒店的入住時間和退房時間一般是什麼時候？ <i
										class="bx bx-chevron-down icon-show"></i><i
										class="bx bx-chevron-up icon-close"></i></a>
								<div id="accordion-list-7" class="collapse show" data-parent=".accordion-list">
									<p>
										A:大部分酒店的入住時間都是下午2點或3點，退房時間是早上10點或11點。
										不同酒店或民宿房東規定不同，需具體查詢。計劃預訂民宿的朋友需要特別注意，大部分民宿不提供行李寄存服務，
										如果你乘坐的航班在房東規定的入住時間前到達或退房時間後起飛，需要自己解決行李寄存問題。
									</p>
								</div>
							</li>

							<li>
								<a data-toggle="collapse" href="#accordion-list-8" class="collapsed">Q:聽說澳洲很多酒店不提供清潔服務是真的嗎？ <i
										class="bx bx-chevron-down icon-show"></i><i
										class="bx bx-chevron-up icon-close"></i></a>
								<div id="accordion-list-8" class="collapse" data-parent=".accordion-list">
									<p>A:簡單的回答是Yes！但澳洲住宿類型比較多，是否提供清潔服務取決於住宿的類型以及酒店的規定。
										一般來說，星級酒店和服務式公寓都會提供基本的每日清潔服務，包括對房間的簡單打掃，倒垃圾，整理床單。
										但大部分酒店並不會每天更換床單，具體的清潔內容不同酒店的規定不同。</p>
									
								</div>
							</li>

							<li>
								<a data-toggle="collapse" href="#accordion-list-9" class="collapsed">Q:在澳洲需要付小費嗎？ <i
										class="bx bx-chevron-down icon-show"></i><i
										class="bx bx-chevron-up icon-close"></i></a>
								<div id="accordion-list-9" class="collapse" data-parent=".accordion-list">
									<p>
										A:在澳洲，你永遠不是必須要給小費的，這並不是硬性規定，給或者不給都無所謂，都不會造成場面的尷尬或者麻煩。
										但是，如果你想給的話，肯定也是可以的，畢竟在服務性行業裡小費總是受人歡迎的
									</p>
								</div>
							</li>

							<li>
								<a data-toggle="collapse" href="#accordion-list-10" class="collapsed">Q:出行前需要在國內換多少澳幣？ <i
										class="bx bx-chevron-down icon-show"></i><i
										class="bx bx-chevron-up icon-close"></i></a>
								<div id="accordion-list-10" class="collapse" data-parent=".accordion-list">
									<p>
										A:花費肯定是豐儉由人了，普通消費建議按每人每天30-50澳元的標準兌換澳幣。
										不過澳洲大大小小的商店幾乎都可以刷信用卡，部分商店還可以使用支付寶以及銀聯，所以其實不必帶過多的現金在身上。
										如果到時候實在現金不夠用，可以在當地各大銀行的ATM直接用銀聯卡取現，非常方便。
									</p>
								</div>
							</li>
							
							<li>
								<a data-toggle="collapse" href="#accordion-list-11" class="collapsed">Q:如果在澳期間生病了怎麼辦？ <i
										class="bx bx-chevron-down icon-show"></i><i
										class="bx bx-chevron-up icon-close"></i></a>
								<div id="accordion-list-11" class="collapse" data-parent=".accordion-list">
									<p>
										A:澳洲的醫療系統與台灣不太一樣，國內一生病就往醫院走，在澳洲，除非是急症，不然不要去醫院。
										如果你有輕微的不舒服，首先考慮的是去一般的藥店（Pharmacy）諮詢藥劑師（Pharmacist），他們會給你推荐一些常用的藥物（非處方類藥物）。
										如果你確實需要看醫生，首先要去的是診所（Clinic）找一個全科醫生（GP）。每個區域都會有幾家診所，但很多是需要預約的。
										診所的醫生會根據病症給你開藥，然後你需要拿著處方單去藥房買藥。如果碰到緊急情況，你可以直接去醫院的急症科或者撥打000叫救護車。
									</p>
								</div>
							</li>

							<li>
								<a data-toggle="collapse" href="#accordion-list-12" class="collapsed">Q:租車自駕該怎麼加油呢？ <i
										class="bx bx-chevron-down icon-show"></i><i
										class="bx bx-chevron-up icon-close"></i></a>
								<div id="accordion-list-12" class="collapse" data-parent=".accordion-list">
									<p>
										A:首先你需在租車的時候向租車公司問清楚車是加汽油還是柴油，加汽油的話是多少號汽油。
										澳洲的加油站都是自助式的，需要自己下車使用加油槍加油。把槍對準油箱口，用手摳動扳機即開始加油，油箱加滿後扳機會自動跳起，
										加油停止，你也可以手動鬆開油槍。然後把油槍放回原位，自行前往加油站的櫃檯告訴店員你在幾號站台加的油，並付款。
									</p>
								</div>
							</li>

							<li>
								<a data-toggle="collapse" href="#accordion-list-13" class="collapsed">Q:澳洲旅遊退稅？ <i
										class="bx bx-chevron-down icon-show"></i><i
										class="bx bx-chevron-up icon-close"></i></a>
								<div id="accordion-list-13" class="collapse" data-parent=".accordion-list">
									<p>
										A:澳洲旅遊退稅是退商品與服務稅（GST）以及葡萄酒稅（WET），所以首先你購買的東西需要有GST或者WET才能退稅。
										大部分含有GST的商品都可以退稅，比如電腦、手機、包包、保健品、化妝品等。
										不能退稅的物品包括：啤酒、烈酒和香煙；日常消耗品比如食物；航空危險物品（無法做為手提或是托運行李攜帶）；
										沒有隨身攜帶，比如郵寄的物品（只有攜帶上飛機的、或者托運的東西才能退稅）；住宿、旅遊、汽車租賃和人工費等服務性消費；
										從網站上購買然後進口到澳洲的商品；禮品卡或是優惠卷。
									</p>
								</div>
							</li>

							<li>
								<a data-toggle="collapse" href="#accordion-list-14" class="collapsed">Q:如果發生了緊急事件，我該撥打什麼電話？ <i
										class="bx bx-chevron-down icon-show"></i><i
										class="bx bx-chevron-up icon-close"></i></a>
								<div id="accordion-list-14" class="collapse" data-parent=".accordion-list">
									<p>
										A:000是澳洲的緊急服務電話，出現緊急情況請立即撥打這個電話。號碼撥通後，接線員會讓你選擇警察、消防隊或救護車。
										如果不會英文，請直接告訴接線員需要Chinese（中文）翻譯，以便快速幫你轉中文翻譯服務。注意提供盡可能詳細的信息，
										特別是準確的位置，如城區、街道名稱、門牌號等。如果在公路上，應告知剛剛經過的城鎮名稱和公路名稱。其實，出門在外難免遇到麻煩或者意外，
									</p>
								</div>
							</li>

						</ul>
					</div>

				</div>
				<div class="col-lg-5 align-items-stretch order-1 order-lg-2 img"
					style='background-image: url("../static/pictures/faq2.jpg");'>&nbsp;</div>
			</div>
		</div>
	</section><!-- End Faq Section -->

	<section id="faq" class="faq" style="background-color: #FFEEDD;">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

					<div class="content">
						<h3>常見問題 <strong>出境時</strong></h3>
					</div>


					<div class="accordion-list">
						<ul>

							<li>
								<a data-toggle="collapse" class="collapse" href="#accordion-list-14">Q:我的退稅還沒到賬，有什麼方法可以查到嗎？ <i
										class="bx bx-chevron-down icon-show"></i><i
										class="bx bx-chevron-up icon-close"></i></a>
								<div id="accordion-list-14" class="collapse show" data-parent=".accordion-list">
									<p>
										A:官方表示退稅會在60天內操作完成，不過一般不需要這麼久。如果希望查詢退稅的進度，可以發送郵件至TRS@abf.gov.au詢問，
										需要把名字以及退稅單上的申請號碼（Claim Number）附上。
									</p>
								</div>
							</li>

							<li>
								<a data-toggle="collapse" href="#accordion-list-15" class="collapsed">Q:退房退租後，信用卡預授權多久才能撤銷？ <i
										class="bx bx-chevron-down icon-show"></i><i
										class="bx bx-chevron-up icon-close"></i></a>
								<div id="accordion-list-15" class="collapse" data-parent=".accordion-list">
									<p> A:正常來說，退房退租當天或幾天內商戶就會操作撤銷信用卡預授權（當然，隨性的土澳人民經常忘記撤銷也是時常發生的），
										但不同銀行處理時間不同，1- 3週都有可能。劃重點：即使商戶不主動進行預授權撤銷，預授權一般也會在發生30-45天后“自然解凍”（各銀行時效不同）。
										預授權取消以後，信用卡上被凍結的額度實時恢復。</p>
									
								</div>
							</li>

							<li>
								<a data-toggle="collapse" href="#accordion-list-16" class="collapsed">Q:我好像把重要東西遺漏在酒店房間了，怎麼辦？ <i
										class="bx bx-chevron-down icon-show"></i><i
										class="bx bx-chevron-up icon-close"></i></a>
								<div id="accordion-list-16" class="collapse" data-parent=".accordion-list">
									<p>
										A:大部分澳洲人都是非常熱心和善良的，也馬君已經掉過無數次手機、錢包、個人證件等等，無一例外全都找回來了。
										如果你在澳洲遺失了東西，比如落在酒店或者出租車上，完全可以嘗試打電話或者發郵件詢問，大概率都能找回來。就算你已經回國了，人家可能也願意幫忙給你寄回來哦~
									</p>
								</div>
							</li>
				

						</ul>
					</div>

				</div>
				<div class="col-lg-5 align-items-stretch order-1 order-lg-2 img"
					style='background-image: url("../static/pictures/faq3.jpg");'>&nbsp;</div>
			</div>
		</div>
	</section><!-- End Faq Section -->
	<footer style="background-color:NavajoWhite">

		<div class="container">
			<div class='row'>
				<div class='col-md-4 text-center'>
					<img src='../static/pictures//logo.jpg' width='170'>
					<p class='text-center'>最簡易的安排行程工具!!</p>
				</div>
				<div class='col-md-4 text-left'>
					<h4>連結</h4>
					<ul>
						<li><a href='index.html'>主頁</a></li>
						<li><a href='diy.html'>自訂旅程</a></li>
						<li><a href='days_schedule.html'>推薦旅程</a></li>
						<li><a href='faq.html'>常見問題</a></li>
					</ul>
				</div>
				<div class='col-md-4 text-center'>
					<h4>聯絡我們</h4>
					<p class='text-center'>這裡是地址<br>
						Phone: (02)1234-5678<br>
						E-Mail: <a href='mailto:xxx@gmail.com'>xxx@gmail.com</a>
					</p>
				</div>
			</div>
		</div>

	</footer>

</body>

</html>