<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC|Open+Sans&display=swap" rel="stylesheet">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
		integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

	<!-- jQuery and Bootstrap Bundle (includes Popper) -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
		crossorigin="anonymous"></script>


	<!-- <script src="https://kit.fontawesome.com/68f8681dba.js" crossorigin="anonymous"></script> -->

	<link rel="stylesheet" href="../static/css/style.css">
	<title>澳洲自助遊</title>
  <link rel="icon" type="image/x-icon" href="../static/pictures/pandaicon.ico" />

</head>


<body>

  <!-- pageloader -->
  <div id="loader">
    <div class="loader">
      <div class="sk-child sk-dot1"></div>
      <div class="sk-child sk-dot2"></div>
    </div>
  </div>

  <header>

    <header>
      {% include "_mel.html" %}
    </header>

    <!-- / Call to action 3 -->

    <!-- BLOCK popular -->

    <div class="main-block">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-center block width100 mb-50 block-title">
              <h2>探索維多利亞州的地區</h2>
              <div class="separator"><span>選擇您想要去的地區</span></div>
            </div>
          </div>
        </div>

        <div class="row">


          <div class="col-md-6 col-lg-6">
            <div class="textOverImage" data-text="墨爾本Melbourne

在市中心度過時光，在樓上和下巷找到美術館，酒吧和餐館。偶然發現獨立的時尚精品店，工匠作坊和街頭藝術家在工作。您會發現幾處繁忙，冰冷，波西米亞風格，建築和意想不到的涼爽空間供您探索。">
              <img src="../static/img/Homepagesite2.jpg">
            </div>
          </div>


          <div class="col-md-6 col-lg-6">
            <div class="textOverImage" data-text="吉朗與貝拉琳Geelong & the Bellarine

在歷史悠久的街景中漫步，並在鬱鬱蔥蔥的高爾夫球場開球，非常適合夏季午後。探索新興的美食家場景，其中包括精釀啤酒廠，當地釀酒廠，農場大門和證明所。在海灣和海洋海灘衝浪，划槳和游泳，並靠近菲利普港灣的當地野生動物。">
              <img src="../static/img/Homepagesite3.jpg">
            </div>
          </div>


          <div class="col-md-6 col-lg-6">
            <div class="textOverImage" data-text="戴爾斯福德和馬其頓山脈Daylesford & Macedon Ranges

花點時間來振奮身心，在壯觀的森林，天然礦泉水和代爾福德和馬其頓山脈地區的歷史悠久的村莊中重燃您的想像力。從地貌和美術館中汲取靈感，並在整個地區沉迷於精美的美食和美酒。">
              <img src="../static/img/Homepagesite4.jpg">
            </div>
            <!-- <a href="regionselection.html">View more</a> -->
          </div>


          <div class="col-md-6 col-lg-6">
            <div class="textOverImage" data-text="亞拉河谷和丹德農山脈Yarra Valley & Dandenong Ranges

參加清晨的熱氣球飛行，與熱情的食品和葡萄酒生產商會面，並在亞拉河谷的希爾斯維爾保護區遇見鴨嘴獸。漫步人行小道，蜿蜒走動的村莊，在風景秀麗的蜿蜒小路，豐富的藝術家工作室，手工藝品商店和著名的花園中發現丹德農山脈的隱藏樂趣。">
              <img src="../static/img/Homepagesite5.jpg">
            </div>
          </div>


          <div class="col-md-6 col-lg-6">
            <div class="textOverImage" data-text="莫寧頓半島Mornington Peninsula

呼吸新鮮的海洋空氣，品嚐創新的當地美食，並享受距墨爾本僅一小時路程的莫寧頓半島（Mornington
                    Peninsula）悠閒的露天生活方式。在通風的海濱村莊中探索畫廊，水療中心和咖啡館，在沙灘上度過一天以放鬆身心，或者逃到內地，在精品酒莊品嚐美食。">
              <img src="../static/img/Homepagesite6.jpg">
            </div>
          </div>


          <div class="col-md-6 col-lg-6">
            <div class="textOverImage" data-text="大洋路Great Ocean Road

參觀高聳的12位使徒，近距離接觸野生動植物，沿著壯觀的大洋路沿途欣賞標誌性的衝浪，原始雨林和薄霧籠罩的瀑布。到戶外進行叢林徒步旅行，衝浪和山地自行車探險，或沿著文化路線穿越畫廊，博物館和古蹟。沿途欣賞壯觀的景色和當地特產。">
              <img src="../static/img/Homepagesite7.jpg">
            </div>
          </div>


          <div class="col-md-6 col-lg-6">
            <div class="textOverImage"
              data-text="菲利普島和巴斯海岸Phillip Island & The Bass Coast

原始的白色沙灘和辛烷值的賽車運動，無窮的家庭娛樂和標誌性的野生動植物，在菲利普島（Phillip Island）的海邊度假中，您會發現所有這一切，距離墨爾本僅90分鐘路程。在自然棲息地中看到小企鵝和昏昏欲睡的考拉，教孩子們在安靜的海灣海灘上游泳，並吸收澳大利亞摩托車大獎賽上的所有動作。">
              <img src="../static/img/Homepagesite8.jpg">
            </div>
          </div>


          <div class="col-md-6 col-lg-6">
            <div class="textOverImage"
              data-text="金礦區Goldfields

探索維多利亞州淘金熱的遺產，從樹木成蔭的林蔭大道和植物園到建築，藝術社區和迷人的城鎮，在地窖門品嚐當地葡萄酒，並在附近的湖泊，國家公園和自然保護區小路漫步。在該地區的歷史景點中了解淘金熱的歷史與有關1850年代和1860年代地下和地下生活的迷人見解。">
              <img src="../static/img/Homepagesite9.jpg">
            </div>
          </div>


          <div class="col-md-6 col-lg-6">
            <div class="textOverImage"
              data-text="格蘭屏Grampians

令人印象深刻的山脈以其原始的自然美景和迷人的全景而聞名，風景如畫的瀑布，古老的原住民岩石藝術，色彩鮮豔的野花展示和豐富的本地野生動植物。該地區為戶外活動提供了充足的機會，包括維多利亞州一些最好的步行道、在格蘭屏山脈攀岩和索道攀爬或是在該地區的內陸湖泊和河流系統中釣魚和劃獨木舟。">
              <img src="../static/img/Homepagesite10.jpg">
            </div>
          </div>


          <div class="col-md-6 col-lg-6">
            <div class="textOverImage" data-text="默里The Murray

前往默里地區，享受宜人的氣候，歷史悠久的城鎮，一流的美食和美酒，以及在世界上最偉大的河流之一上進行戶外活動的無窮機會。埃丘卡（Echuca）和米爾杜拉（Mildura）是默里（Murray）最受歡迎的目的地之一。">
              <img src="../static/img/Homepagesite11.jpg">
            </div>
          </div>


          <div class="col-md-6 col-lg-6">
            <div class="textOverImage"
              data-text="高地High Country

高地國家的壯麗山脈，山谷，河流和湖泊是全年冒險和放鬆的理想場所。冬天，您可以在阿爾卑斯山度假勝地的山坡上騎行，在溫暖的月份返回以進行啟發性的叢林徒步旅行和騎自行車運動，從令人頭暈的山地自行車挑戰到蜿蜒的鐵軌小徑。在著名的餐廳和釀酒廠休息一下，充實精力，探索充滿活力的精釀啤酒廠，或者在提籃和農場大門前裝滿籃子，都充滿了當地美食。">
              <img src="../static/img/Homepagesite12.jpg">
            </div>
          </div>


          <div class="col-md-6 col-lg-6">
            <div class="textOverImage"
              data-text="吉普斯蘭Gippsland

在維多利亞州最壯觀的國家公園中舒展雙腿，被小城鎮所吸引，在吉普斯蘭（Gippsland）品嚐美味的新鮮農產品。沿著九十英里海灘（Amble）漫步，在威爾遜舞會（Wilsons Prom）上紮營，或在吉普斯蘭湖（Gippsland Lakes）上航行。在畫廊和工作室，或在當地的地窖門，精品釀酒廠和著名的餐館中滿足您的好奇心。">
              <img src="../static/img/Homepagesite13.jpg">
            </div>
          </div>


        </div>
      </div>
    </div>
</body>

</html>