<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC|Open+Sans&display=swap" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

  <!-- jQuery and Bootstrap Bundle (includes Popper) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
    crossorigin="anonymous"></script>


  <!-- <script src="https://kit.fontawesome.com/68f8681dba.js" crossorigin="anonymous"></script> -->

  <link rel="stylesheet" href="../static/css/style.css">
  <title>澳洲自助遊</title>
  <link rel="icon" type="image/x-icon" href="../static/pictures/pandaicon.ico" />

</head>

<body>

  <header>
    {% include "_mel.html" %}
  </header>
  <section>

    {% for col in outputs %}
    <!-- Button trigger modal -->
    <button type="button" class="p-3 mb-2 bg-light text-dark btn btn-primary btn-lg btn-block btn-outline-info" data-toggle="modal" data-target="#exampleModal{{ col['行程名稱'] }}">
      {{ col['行程名稱'] }}
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal{{ col['行程名稱'] }}" tabindex="-1" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
        <div class="modal-content">

          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"> {{col['行程名稱'] }} </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p> {{col['行程內容'] }}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>
    {% endfor %}

    <ul class="pagination  justify-content-center mt-5">
      <!-- use querystring to control -->
      <li class="page-item"><a class="page-link" href="/spots.html?page={{ page-1 }}">Previous</a></li>
      {% for p in range(1,total_pages+1 ) %}
      <li class="page-item {{'active' if p==page else ''}}"><a class="page-link" href="/spots.html?page={{p}}">{{
          p }}</a></li>
      {% endfor %}
      <li class="page-item"><a class="page-link" href="/spots.html?page={{ page+1 }}">Next</a></li>
    </ul>
  </section>




  <footer style="background-color:NavajoWhite">

    <div class="container">
      <div class='row'>
        <div class='col-md-4 text-center'>
          <img src='../static/pictures/logo.jpg' width='170'>
          <p class='text-center'>最簡易的安排行程工具!!</p>
        </div>
        <div class='col-md-4 text-left'>
          <h4>連結</h4>
          <ul>
            <li><a href='index.html'>主頁</a></li>
            <li><a href='diy.html'>自訂旅程</a></li>
            <li><a href='days_schedule.html'>推薦旅程</a></li>
            <li><a href='faq.html'>常見問題</a></li>
          </ul>
        </div>
        <div class='col-md-4 text-center'>
          <h4>聯絡我們</h4>
          <p class='text-center'>這裡是地址<br>
            Phone: (02)1234-5678<br>
            E-Mail: <a href='mailto:xxx@gmail.com'>xxx@gmail.com</a>
          </p>
        </div>
      </div>
    </div>

  </footer>
</body>

</html>